.container-fluid {
  background-color: black;
}
p {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: white;
  padding-top: 150px;
}

.img-fluid {
  margin-top: 7px;
  margin-bottom: 50px;
}

.mx-auto {
  width: auto;
}

.text-center {
  text-align: center;
}

.btn-outline-warning {
  color: white;
  margin-bottom: 355px;

}
